.footer {
  background-color: #272727;
  padding-top: 25px;
  margin-top: 55px;
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #fff;
}

.footer-main {
  margin-right: 100px;
}

.footer-main__logo {
  margin-bottom: 50px;
}

.footer-main__pay {
  margin-bottom: 60px;
}

.footer-main__pay img {
  display: inline-block;
  margin-right: 10px;
}

.footer-contact li {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 16px;
}

.footer-contact li a {
  font-size: 14px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}

.footer-contact li a:hover {
  text-decoration: underline;
}

.footer-contact li:last-child {
  margin-bottom: 0;
}

.footer-contact li img {
  width: 25px;
  margin-right: 10px;
}

.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.footer-menu li {
  display: block;
  margin-bottom: 14px;
}

.footer-menu li:first-child {
  margin-bottom: 24px;
}

.footer-menu li:first-child a {
  font-size: 18px;
  font-weight: 700;
}

.footer-menu li a {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.footer-menu li a:hover {
  text-decoration: underline;
}

.footer-bot {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 30px 0;
}

.footer-bot .copy,
.footer-bot a {
  font-size: 12px;
  line-height: 1.3;
  font-weight: 400;
  color: #fff;
}

.footer-bot .copy {
  margin-right: auto;
}

.footer-bot__link {
  margin-left: 20px;
}

.footer-bot__link a {
  text-decoration: none;
}

.footer-bot__link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 991px) {
  .footer {
    margin-top: 30px;
  }

  .footer-top {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-main {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer-main__logo {
    margin-bottom: 20px;
  }

  .footer-main__pay {
    margin-bottom: 20px;
  }

  .footer-menu {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .footer-menu ul {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .footer-menu {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-bot {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-bot .copy,
  .footer-bot__link {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .footer-bot .copy:last-child,
  .footer-bot__link:last-child {
    margin-bottom: 0;
  }
}