.consultation-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.consultation-request {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(62.50000000000001% - 30px);
  position: relative;
  padding-right: 35px;
}

.consultation-request:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100%;
  position: absolute;
  right: -15px;
  top: 0;
  background-color: #DBDBDB;
}

.consultation-request .title3 {
  margin-bottom: 20px;
}

.consultation-request__subtitle {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #929292;
  margin-bottom: 30px;
}

.consultation-contact {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(37.5% - 30px);
  padding-left: 35px;
}

.consultation-contact .title3 {
  margin-bottom: 25px;
}

.consultation-contact .contact-list {
  max-width: 300px;
  margin-bottom: 50px;
}

.consultation-contact .contact-list li {
  position: relative;
  padding-left: 54px;
  margin-bottom: 38px;
}

.consultation-contact .contact-list li:last-child {
  margin-bottom: 0;
}

.consultation-contact .contact-list li:before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 0;
}

.consultation-contact .contact-list li span {
  display: block;
  margin-bottom: 10px;
}

.consultation-contact .contact-list li span:last-child {
  margin-bottom: 0;
}

.consultation-contact .contact-list li span,
.consultation-contact .contact-list li a {
  font-size: 18px;
  color: #929292;
  line-height: 1.3;
  font-weight: 400;
  text-decoration: none;
}

.consultation-contact .contact-list li a:hover {
  text-decoration: underline;
}

.consultation-contact .contact-list__address:before {
  background-image: url('../img/location.svg');
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.consultation-contact .contact-list__tel:before {
  background-image: url('../img/phone.svg');
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.consultation-contact .contact-list__email:before {
  background-image: url('../img/email.svg');
  top: 0;
}

.consultation-contact__map {
  width: 100%;
}

.consultation-contact__map img {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .consultation-request {
    padding-right: 0px;
    padding-bottom: 30px;
  }

  .consultation-contact {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .consultation-request {
    width: calc(100% - 30px);
  }

  .consultation-request:before {
    right: 0;
    width: 100%;
    height: 1px;
    top: 100%;
  }

  .consultation-contact {
    width: calc(100% - 30px);
  }

  .consultation-contact {
    padding-left: 0;
    padding-top: 30px;
  }
}

@media screen and (max-width: 575px) {
  .consultation-request__subtitle {
    font-size: 14px;
  }

  .consultation-contact .contact-list li {
    padding-left: 40px;
  }

  .consultation-contact .contact-list li:before {
    width: 30px;
    height: 30px;
  }

  .consultation-contact .contact-list li span,
  .consultation-contact .contact-list li a {
    font-size: 16px;
  }
}