.contact {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66666666666667% - 30px);
  background: #fff;
  box-shadow: 0px 4px 40px rgba(184, 184, 184, 0.25);
  padding: 20px 50px;
}

.contact__item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DBDBDB;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.contact__item:last-child {
  border-bottom: none;
}

.contact-label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.contact-label__icon {
  width: 24px;
  margin-right: 10px;
  text-align: center;
}

.contact-label__text {
  line-height: 1.6;
}

.contact-inner {
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.contact-inner__text {
  text-align: right;
  margin-left: 30px;
}

.contact-map {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.333333333333336% - 30px);
}

.contact-map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 1199px) {
  .contact {
    width: calc(50% - 30px);
  }

  .contact-map {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 991px) {
  .contact {
    padding: 20px;
  }

  .contact-inner__text {
    margin-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    width: calc(100% - 30px);
  }

  .contact {
    margin-bottom: 20px;
  }

  .contact-map {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 361px) {
  .contact__item {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .contact-inner {
    width: 100%;
    padding-top: 10px;
  }

  .contact-inner__text {
    margin-left: 0;
    margin-right: 15px;
    text-align: left;
  }
}