.information-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -50px;
}

.info-card {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.333333333333336% - 30px);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 50px;
}

.info-card__img {
  margin-bottom: 30px;
}

.info-card__img img {
  width: 100%;
}

.info-card__name {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.info-card__info {
  margin-top: auto;
  font-size: 12px;
  color: #929292;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}

.info-card__time {
  margin-left: auto;
}

.info-card__text {
  font-size: 16px;
  color: #929292;
  margin-bottom: 10px;
}

.info-card__detailed {
  font-size: 14px;
  color: #272727;
  text-decoration: underline;
}

.info-card__detailed:hover {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .information-row {
    margin-bottom: 0;
  }

  .info-card__name {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .info-card {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 575px) {
  .info-card {
    width: calc(100% - 30px);
  }
}