.sitemap-nav-wrap {
  min-height: 100vh;
}

.sitemap-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 0;
}

.sitemap-nav a {
  font-size: 20px;
  color: #272727;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

.sitemap-nav a:hover {
  text-decoration: underline;
}

.sitemap {
  background-color: #eee;
}

.sitemap-item {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  padding: 50px 0;
}

.sitemap-item50 {
  width: calc(50% - 30px);
}

.sitemap-item100 {
  width: calc(100% - 30px);
}

.sitemap-item__checkbox {
  margin-bottom: 30px;
}

.sitemap .title2 {
  margin-bottom: 30px;
}

/* */

.custom-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio > span {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio > span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

.custom-radio > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-radio > input:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}

.custom-radio > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio > input:disabled + span::before {
  background-color: #e9ecef;
}